ENVIRONMENT=production
DATABASE_URL=postgresql://<user>:<password>@<host>/<dbname>?sslmode=require
BOT_NAME=Levanter FastAPI Bot
COMMAND_PREFIX=.
WHATSAPP_ONLY=true
REQUIRE_SESSION_ID=true
MAX_SESSION_ID_GENERATION_ATTEMPTS=5
DEFAULT_SESSION_ID=
ADMIN_PHONE_NUMBER=
LEVANTER_VERSION=5.3.3
LEVANTER_PLUGINS=220
WHATSAPP_API_URL=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
