ENVIRONMENT=production
DATABASE_URL=postgresql://<user>:<password>@<host>/<dbname>?sslmode=require
BOT_NAME=Levanter FastAPI Bot
REQUIRE_SESSION_ID=false
DEFAULT_SESSION_ID=
ADMIN_PHONE_NUMBER=
WHATSAPP_API_URL=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
